<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Pembelian</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Hasil Belanja</div>
        <hr>
        <p> Nama Buah                   : <b th:text="${varbuah}"></b>
        <p> Harga Perkilo               : <b th:text="${varharga}"></b>
        <p> Jumlah Kilo                 : <b th:text="${varjumlah}"></b> 
        <p> Total yang harus dibayar    : <b th:text="${vartotal}"></b>
    </body>
</html>
